################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataManager/DataManager/.vs
household_power_consumption.txt
/Analytics/node_modules